.base {
}

.header {
  margin-top: 50px;

  display: flex;
  justify-content: center;
}

.logo {
  height: 60px;
  width: 60px;
  background: url(./images/logo.svg) no-repeat;
}

.tabs {
}

.filter {
  margin-top: 100px;
}

.ticket {
}
