@import "./styles/variables.scss";

.base {
}

.header {
  margin-top: 50px;

  display: flex;
  justify-content: center;
}

.logo {
  width: 60px;
  height: 60px;
  background: url(./images/logo.svg) no-repeat;
}

.content {
  margin: 50px;

  display: flex;
  justify-content: center;
}

.left {
}

.right {
  margin-left: 20px;
}

.sorts {
  display: flex;
}

.ticket {
  margin-top: 20px;
}
