@import "../../styles/variables.scss";

.base {
  width: 100%;
  height: 50px;
  display: flex;

  .button:first-child {
    border: 1px solid #dfe5ec;
    border-radius: 5px 0px 0px 5px;
  }

  .button:last-child {
    border: 1px solid #dfe5ec;
    border-radius: 0px 5px 5px 0px;
  }
}

.button {
  width: 100%;
  outline: none;
  border-top: 1px solid #dfe5ec;
  border-bottom: 1px solid #dfe5ec;
  border-left: 0;
  border-right: 0;
  font-size: 12px;
  font-weight: 600;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  background-color: $color-panel;
  cursor: pointer;
  color: #4a4a4a;

  &:hover,
  &:focus {
    color: $color-main;
  }

  &_selected {
    background-color: $color-main;
    color: white;

    &:hover,
    &:focus {
      color: white;
    }
  }
}
